---
import { Image } from "astro:assets";
---

<div class="py-3">
  <div class="flex flex-row justify-between items-center">
    <p class="text-xl">
      <span class="text-sm">forgetme</span>
      <span class="font-bold">NOTES</span>
    </p>
    <Image src="/logo.svg" width={45} height={45} alt="logo" />
  </div>
</div>
