---
import { Icon } from "astro-icon/components";
---

<div class="rounded-3xl bg-gray-100 py-1 mx-3">
  <div class="flex mx-4 items-center">
    <div class="">
      <Icon name="mdi:notes" />
    </div>
    <input
      type="text"
      class="bg-transparent outline-none text-gray-900 text-sm rounded-lg focus:ring-transparent block w-full p-2 mx-2"
      placeholder="Search for a topic..."
    />
  </div>
</div>
