---
import Header from "../components/Header.astro";
import MaxWidthWrapper from "../components/MaxWidthWrapper.astro";
import SearchBar from "../components/SearchBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/global.css" />
    <title>Forget Me Not</title>
  </head>
  <body class="bg-gradient-to-r from-purple-100 to-yellow-100">
    <MaxWidthWrapper>
      <header class="sticky top-0 z-20 backdrop-blur-sm pb-2">
        <Header />
        <SearchBar />
      </header>

      <slot />
    </MaxWidthWrapper>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
